.about {
    &__container {
      row-gap: 56px;
      margin-bottom: 40px;
    }
    &__data {
      text-align: center;
    }
    &__description {
      text-align: center;
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
    }
    &__button {
      margin: auto;
      justify-content: center;
      align-items: center;
    }
   
  }
  .about__img {
    
    margin: 10px 20px;
    width: 900px;
    justify-content: center;
    align-items: center;
    transition: all 4s ease;
    display: flex;
    flex-direction: column;
        cursor: pointer;
    &:hover {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      background-color: transparent;
    }
  }
  